*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main{
    width: 100%;
    height: 100%;
    background-color: #1e1e1e;
    display: grid;
    grid-template-columns: 450px 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
    grid-template-areas: "image1 image2 image2 image2"
                         "image1 image3 image4 image5";


    section{
        background-color: red;
        padding: 10px;
        border: 2px solid white;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

    }

    .image1{
        grid-area: image1;
        background-image: url(assets/images/virat1.png);


    }
    .image2{
        grid-area: image2;
        background-image: url(./assets/images/virat2.jpg);
    }
    .image3{
        grid-area: image3;
        background-image: url(./assets/images/rohit3.jpg);
    }
    .image4{
        grid-area: image4;
        background-image: url(./assets/images/kl-rahul4.jpg);
    }
    .image5{
        grid-area: image5;
        background-image: url(./assets/images/abhishek5.jpg);

    }

    

}
